<div class="flex justify-center items-center h-screen  bg-white border-gray-200 dark:border-gray-600 dark:bg-gray-900">
    <div class="w-3/4 bg-white border-gray-200 shadow-sm border-y dark:bg-gray-800 dark:border-gray-600">
        <table class="w-full border-collapse">
            <thead>
                <tr>
                    <th class="border p-2">id</th>
                    <th class="border p-2">nom</th>
                    <th class="border p-2">prenom</th>
                    <th class="border p-2">date naiss</th>
                    <th class="border p-2">lieu naiss</th>
                    <th class="border p-2">tel</th>
                    <th class="border p-2">adresse</th>
                    <th class="border p-2">année scolaire</th>
                    <th class="border p-2">classe</th>
                    <th class="border p-2">nouveau</th>
                </tr>
            </thead>
            <tbody>
                <tr class="overflow-y-scroll " *ngFor="let data of excelData">
                    <td class="border p-2">{{data.id}}</td>
                    <td class="border p-2">{{data.nom}}</td>
                    <td class="border p-2">{{data.prenom}}</td>
                    <td class="border p-2">{{data.date_de_naiss}}</td>
                    <td class="border p-2">{{data.lieu_de_naiss}}</td>
                    <td class="border p-2">{{data.telephone}}</td>
                    <td class="border p-2">{{data.adresse}}</td>
                    <td class="border p-2">{{data.annnee_scolaire}}</td>
                    <td class="border p-2">{{data.classe}}</td>
                    <td class="border p-2">{{data.nouveau}}</td>

                </tr>
            </tbody>
        </table>
        <div class="mt-4 flex items-center justify-evenly">
            <input type="file" class="border p-2 " (change)="importFiles($event)" />
            <button class="bg-cyan-800 text-white px-4 py-2 rounded" (click)="inscrire()">Inscrire</button>
            <p class="">{{message}}</p>
        </div>
    </div>
</div>